<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Hostname" value="localhost" />
        <add key="Port" value="18081" />
        <add key="ApiKey" value="" />
        <add key="ApiSecret" value="" />
        <add key="BearerToken" value="" />
        <add key="ConsumerToken" value="" />
        <add key="ConsumerTokenSecret" value="" />
    </appSettings>
</configuration>